[Unit]
Description=JupyterHub
Before=nginx.service
After=data.mount
StartLimitInterval=200
StartLimitBurst=5

[Service]
User={{unix_user}}
Group={{web_group}}
ExecStart={{lm_prefix}}/bin/jupyterhub -f {{lm_prefix}}/etc/jupyterhub_config.py
WorkingDirectory={{data_path}}
StandardOutput=file:{{lm_prefix}}/var/log/jupyterhub.log
StandardError=inherit
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
