### C++ ###
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Makefiles
Makefile
Makefile.in
*.m4
/src/.deps
autom4te.cache/
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
INSTALL
libtool
ltmain.sh
missing
src/tscan
stamp-h1
compile
ChangeLog

# Python
*.py[cod]

# Backup files
*.swp
*.bak
*~

#Mac cruft
.DS_Store
