---

    - name: installing global dependencies for kaldi_nl
      include_role:
        name: lamachine-package-install
      with_items:
        - { debian: dialog, redhat: dialog, arch: dialog } #we don't really use it in non-interactive mode but kaldi_nl tests for it
        - { debian: libsox-fmt-mp3, redhat: sox, arch: sox }
      loop_control:
          loop_var: package

    - name: Obtaining kaldi_nl
      git:
        repo: "https://github.com/opensource-spraakherkenning-nl/Kaldi_NL/"
        dest: "{{ lm_prefix }}/opt/kaldi_nl"
        update: yes
        recursive: yes
        accept_hostkey: yes

    - name: Setting up kaldi_nl
      shell: |
          export modelpack="{{ lm_prefix }}/opt/kaldi_nl/models"
          ./configure.sh oralhistory
      args:
        chdir: "{{ lm_prefix }}/opt/kaldi_nl"
      environment: "{{lm_env}}"

    - name: Ugly patch needed to get oral history working properly
      shell: |
          if [ ! -e "{{ lm_prefix }}/opt/kaldi_nl/models/Models" ]; then
            ln -s "{{ lm_prefix }}/opt/kaldi_nl/models" "{{ lm_prefix }}/opt/kaldi_nl/models/Models"
          fi
      environment: "{{lm_env}}"
