[Unit]
Description=LaMachine Webservices
Before=nginx.service
After=data.mount

[Service]
Type=forking
ExecStart=/usr/src/LaMachine/startwebservices.sh
ExecStop=killall -s 9 uwsgi
User=vagrant
Group=vagrant

[Install]
WantedBy=multi-user.target
