---
    - name: Verifying if can get root
      fail:
          msg: "Mac OS X installation is not supported without root/sudo permission."
      when: not root

    - name: Verifying global installation is not preferred
      fail:
          msg: "Mac OS X installation is not supported with global locality, use local instead"
      when: locality == "global"


    - name: Updating base system (Homebrew)
      homebrew:
        update_homebrew: yes
        upgrade_all: "{% if nosysupdate is not defined or nosysupdate == 0 %}yes{% else %}no{% endif %}"
      ignore_errors: yes

    - block:
        - name: Installing common base packages (Homebrew)
          homebrew:
            name: [ pkg-config, autoconf, automake, libtool, autoconf-archive, xml2, libxslt, icu4c, libtextcat, libtar, python, wget, ansible, boost, boost-python3, poppler, pandoc, hdf5 ]
            state: present
      rescue:
        - name: "Error invoking Homebrew"
          fail:
             msg: "Your homebrew installation failed to install the base packages. This most likely means Homebrew on your system is in a broken state (possibly after an OS X update?). You will have to fix this first yourself prior to installing LaMachine."

    - name: (Re)install virtualenv
      become: yes
      become_user: root
      command: pip3 install virtualenv
      when: localenv_type == "virtualenv"
